{% extends "baseAmpliada.html" %}

{% block title %}Clientes que más gastaron.{% endblock %}
{% block head %}
{{ super() }}

<style>

    *{
        text-align: center;
    }

    #encabezado{
        margin-top: 50px;
    }

    div{
        width: 80%;
        margin: 0 auto;
    }

    td, th{
        width: 20%;        
        border: 1.5px solid white;
        text-align: center;
    }

    td{
        background-color: hsl(200, 30%, 90%);
    }

    th{
        background-color: hsl(200, 30%, 1%);
        color: white;
    }

</style>

{% endblock %}
{% block page_content %}
<div id="encabezado">    
    <h2>Clientes que más gastaron.</h2>
</div>

<div>
<table style="width: 80%;" align="center">
    <tr>
        <th>Cliente</th>
        <th>Valor total compras</th>

    </tr>
        {% for result in listaMasGastaron %}
            <tr>    
                <td>{{ result[1].cliente }}</td>
                <td>{{ result[0] }}</td>
            </tr>
    {% endfor %}

</table>
</div>

{% endblock %}

