{% extends "baseAmpliada.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Productos por Clientes{% endblock %}

{% block head %}
{{ super() }}

<style>

    *{
        text-align: center;
    }

    #encabezado{
        margin-top: 50px;
    }

    div{
        width: 80%;
        margin: 0 auto;
    }

    td, th{
        width: 20%;        
        border: 1.5px solid white;
        text-align: center;
    }

    td{
        background-color: hsl(200, 30%, 90%);
    }

    th{
        background-color: hsl(200, 30%, 1%);
        color: white;
    }

</style>

{% endblock %}

{% block page_content %}

<div style="width: 50%;">    
    <h2>Listado de productos por cliente.</h2>
</div>
<div style="margin-top: 50px;">    
    {{ wtf.quick_form(form) }}
    <p>{{ cliente }}</p>
    <u1>
    {% for x in clientes %}
    <li><a href="/prodClientes/{{ x }}">{{ x }}</a></li>
    {% endfor %}
    </u1>
</div>

<div>
<table style="margin: 0 auto;">
    {% if listaProductos != null %}
    <tr>
        <th>Código</th>
        <th>Producto</th>
        <th>Cliente</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    {% endif %}
    {% for x in listaProductos %}
    <tr>
        <td>{{ x.codigo }}</td>
        <td>{{ x.producto }}</td>
        <td>{{ x.cliente }}</td>
        <td>{{ x.cantidad }}</td>
        <td>{{ x.precio }}</td>
    </tr>
    {% endfor %}

</table>
</div>

{% endblock %}

